.curso{
    padding: 10rem 0;
    margin-top: 10rem;
    background-size: cover;
    background-position: center center;
}
.curso{

}
@media (min-width: 768px) {
    .curso-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .curso .contenido{
        grid-column: 2 / 3;
    }
    
}
.curso .texto{
    text-align: center;
    font-size: 2.4;
    color: var(--white);
}